@mixin swap_top_bottom {
  border-radius: 12px;
  margin: 14px 0;
  border: 1px solid rgb(236, 239, 241);
  background: rgb(249, 249, 249);
  label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
  }
  .operation {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    input {
      width: 100%;
      padding: 10px 5px 0px 0px;
      margin-right: 5px;
      font-size: 24px;
      font-family: inherit;
      background: transparent;
      color: rgba(0, 0, 0, 0.9);
      border: none;
      &:focus {
        outline: none;
      }
    }

    button {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      border: none;
      background-color: transparent;
      color: rgba(0, 0, 0, 0.9);
      white-space: nowrap;
      font-size: 1.2em;
      font-weight: bold;
      font-family: inherit;
    }
    .operation_image {
      display: flex;
      align-items: center;
      width: 25px;
      height: 25px;
      margin-right: 0.5em;
    }
  }
}

.header,
.headerDark {
  background-image: linear-gradient(
    to right,
    rgb(63, 81, 181),
    rgb(100, 181, 246)
  );
  color: white;
  padding: 2em;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left_header,
    .right_header {
      width: 43.75%;
      padding: 1rem;
      .left_header_container,
      .right_header_container {
        display: flex;
        align-items: center;
        .left_header_rank {
          padding: 1rem;
          position: relative;
          display: inline-block;
          width: 25%;
          .left_header_rank__flag {
            background: rgb(24, 198, 131);
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            position: relative;
            text-align: center;
            padding: 0 1rem;
            width: auto;
            display: inline-block;
            box-shadow: rgb(0 0 0 / 40%) 0px 2px 15px -3px;
            &::before {
              content: "";
              width: calc(100% + 20px);
              height: 10px;
              background: inherit;
              position: absolute;
              left: -10px;
              top: 0px;
              border-radius: 8px;
            }
            p {
              font-size: 0.7rem;
            }
          }
        }
        .left_header_name {
          padding: 1rem;
          flex-direction: column;
          vertical-align: top;
          align-self: flex-start !important;
          width: 75%;
          h1 {
            margin-top: 0;
          }
          h2 {
            display: inline-block;
            margin: 0px;
            vertical-align: bottom;
            span {
              font-weight: 700;
            }
            div {
              display: inline-block;
              margin: 0 0 0 16px;
              line-height: 1;
              vertical-align: bottom;
              font-size: 1rem;
              font-weight: 900;
            }
          }
        }
      }
    }
    .right_header {
      width: 56.25%;
      .right_header_container {
        display: block;
      }
      .right_header_row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: inherit;
        align-items: stretch;
        max-width: 100% !important;
        padding: 1rem 0;

        .right_header_colum {
          margin-top: 0;
          margin-bottom: 0;
          position: relative;
          flex: 0 0 150px;
          padding-left: 1rem;
          padding-right: 1rem;
          vertical-align: top;
          .right_header_colum__section {
            font-size: 1.28571429em;
            margin-top: -0.14285714em;
            margin: calc(2rem - 0.14285714em) 0 1rem;
            padding: 0;
            font-weight: 700;
            line-height: 1.28571429em;
            div {
              font-size: 1rem;
              display: block;
              font-weight: 400;
              padding: 0;
              margin: 0;
              line-height: 1.2em;
            }
            span {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}
.headerDark {
  background: rgb(54, 54, 54);
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  .right_header_colum__section {
    div {
      opacity: 0.7;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: calc(1127px + 2rem) !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: calc(933px + 2rem) !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(723px + 2rem) !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (max-width: 768px) {
  .headerDark,
  .header {
    padding: 2em 0 !important;
    text-align: center !important;
    .left_header_name {
      h1,
      span {
        margin-left: 0.5em !important ;
      }
    }
  }
  .container {
    width: auto !important;
    margin: 0 auto !important;
    padding-top: 2rem !important;
    display: block !important;
    .left_header,
    .right_header {
      width: 100% !important;
    }
    .right_header_row {
      width: 100% !important;
      justify-content: space-between !important;
    }
  }
}
@media (max-width: 380px) {
  .left_header_name {
    h1 {
      font-size: 1.5em !important;
    }
  }
  .right_header_colum {
    flex: 0 0 100px !important;
  }
}

// MIDDLE PAGE (STYLE)

.middle,
.middleDark {
  .middle_container {
    max-width: 100% !important;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    .grafic {
      flex: 1 1 50%;
      overflow: hidden;
      padding-bottom: 20px;
      .listitem_grafic {
        padding-top: 0.21428571em;
        padding-bottom: 0.21428571em;
        padding-left: 1em;
        .buttonGrafic {
          background: transparent;
          color: rgb(24, 198, 131);
          border-radius: 10em;
          font-size: 0.78571429rem;
          cursor: pointer;
          margin: 0 0.25em 0 0;
          padding: 0.78571429em 1.5em;
          font-weight: 700;
          line-height: 1em;
          border: none;
          transition: all 0.2s;
          &:hover {
            background: rgb(24, 198, 131);
            color: white;
          }
        }
        .active {
          background: rgb(24, 198, 131);
          color: white;
        }
      }
    }
    .swap,
    .swapDark {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      flex: 1 1 0%;
      min-width: 380px;
      width: 100%;
      .swap_container {
        width: 90%;
        max-width: 460px;
        padding-bottom: 60px;
        position: relative;
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 13px;
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 9px;
        overflow: hidden;
        .swap_header {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;
          padding: 20px 20px 0px;
          margin-bottom: 17px;
          color: rgba(0, 0, 0, 0.9);
          .image {
            cursor: pointer;
          }
        }

        .swap_content {
          padding: 0px 20px 20px;
          .swap_content_top {
            @include swap_top_bottom;
          }
          .swap_content_middle {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            padding-right: 17px;
          }
          .swap_content_bottom {
            @include swap_top_bottom;
          }
        }
      }
    }
  }
}
.middleDark {
  color: white;
  background: rgb(54, 54, 54);
}
@media only screen and (min-width: 1200px) {
  .middle_container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .middle_container {
    width: 933px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .middle_container {
    width: 723px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 768px) {
  .middle_container {
    margin: 0px auto !important;
  }
}

// showCoin

.show_container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 9%) 0px 0px 30px -3px;
  z-index: 5;
  .header_show {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 20px 0px;
    margin-bottom: 17px;
    color: rgba(0, 0, 0, 0.9);
    border: none !important;
    h3 {
      font-size: 1.4em;
    }
  }
  .search {
    margin: 0 20px;
    input {
      font-size: 1.2em;
      font-family: inherit;
      color: rgba(0, 0, 0, 0.9);
      background: rgb(236, 239, 241);
      width: 100%;
      border: none;
      border-radius: 12px;
      padding: 13px 10px;
    }
  }
  .searchCoins {
    height: 455px;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 20px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px; /* ширина для вертикального скролла */
      height: 8px; /* высота для горизонтального скролла */
  }
    &::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 9em;
      box-shadow: inset 1px 1px 10px #f3faf7;
  }
    .token_list {
      height: 60px;
      width: 100%;
      padding: 5px 20px;
     > div {
        display: flex;
        padding: 5px ;
        height: 50px;
        -webkit-box-align: center;
        align-items: center;
        border-radius: 8px;
       div {
        margin-left: 1em;
        div:last-child{
          color:gray
        }
       }
       cursor: pointer;
       transition: all 0.2s;
       &:hover{
        background-color:rgba(128, 128, 128, 0.178)
      }
      }
    }
  }

}
