html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
  background: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}
.hidden {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.change_green {
  color: rgb(24, 198, 131);
}
.change_red {
  color: red;
}
