
.container,.containerDark {
  position: fixed;
  left: 0;
  right: 0;
  font-size: 1em;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
}
.containerDark{
  background-color: black;
  color: white ;
}
.fullScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.links a {
  padding: 1.5em 1.15em;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.links a:hover {
  background: rgba(0, 0, 0, 0.089);
}
.containerDark .links a:hover{
  background: rgba(160, 150, 150, 0.281);
}
.logo img {
  width: 80px !important ;
  height: auto ;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu_item:nth-child(1),
.menu_item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}
.menu_item:nth-child(2) {
  cursor: pointer;
}
.menu_item button {
  position: relative;
  top: 0;
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  -webkit-box-shadow: rgb(0 0 0 / 40%) 0px 2px 15px -3px;
          box-shadow: rgb(0 0 0 / 40%) 0px 2px 15px -3px;
  background: rgb(24, 198, 131) !important;
  color: white;
  padding: 0.8em 1.5em;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 10em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  font-weight: 700;
  line-height: 1em;
  white-space: nowrap;
}
.pos_relative {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputNone {
  position: absolute;
  width: 0;
  opacity: 0;
}
.inputBlock {
  -webkit-animation: inputBlock 0.2s linear;
          animation: inputBlock 0.2s linear;
  width: 13em;
  opacity: 1;
  margin-right: 0.5rem;
}
@-webkit-keyframes inputBlock {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 13em;
    opacity: 1;
  }
}
@keyframes inputBlock {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 13em;
    opacity: 1;
  }
}

.image,
.menu_item:nth-child(2) {
  width: 16px;
  height: 16px;
}
.containerDark  .menu_item input{
  border:none;
  background-color: rgba(97, 97, 97, 0.521);
  color:white;
}
.containerDark  .menu_item input:focus{
  outline:none;
}
.menu_item input {
  padding: 7px 4px;
  font-size: 100%;
  border-radius: 5px;
}

.menu_item button:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.mobileScreen{
  display: none;
}
@media only screen and (min-width: 1200px) {
  .fullScreen {
    width: 1127px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .fullScreen {
    width: 933px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fullScreen {
    width: 723px;
    margin: 0 auto;
  }
  .inputBlock {
    -webkit-animation: inputBlockMedia 0.2s linear;
            animation: inputBlockMedia 0.2s linear;
    width: 10em ;
    opacity: 1;
    margin-right: 0.5rem;
  }
}
@-webkit-keyframes inputBlockMedia {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 10em;
    opacity: 1;
  }
}
@keyframes inputBlockMedia {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 10em;
    opacity: 1;
  }
}
@media only screen and (max-width: 767px){
  .mobileScreen{
    position: relative;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1em 2em;
  }
   .logo {
    width: 50px;
    
  }
  .fullScreen{
    display: none;
  }
}
.mobail_menu{
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  background-color: bl;
  -webkit-animation :menu 0.2s linear;
          animation :menu 0.2s linear;
}
@-webkit-keyframes menu {
  0%{left: -20em;}
  100%{left: 0;}
}
@keyframes menu {
  0%{left: -20em;}
  100%{left: 0;}
}
.mobail_menu_item{
  padding: 1em 2em ;
  text-align: center;
}