.container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.774);
    z-index: 1;
    backdrop-filter: blur(2px);
    animation: settings 0.5s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight: 700;
    font-size: 1.2em;
}
@keyframes settings {
    0%{ background-color:transparent;backdrop-filter: blur(0)}
    100%{ background-color:rgba(0, 0, 0, 0.774);;backdrop-filter: blur(2px)}
}
.row,.row_select{
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}
.row_select{
    position: relative;
    margin-bottom: 2em;
}
.select{
    position: absolute;
    right: 2em;
    top:1em;
    background-color:rgb(255, 217, 0);
}
.select div{
    display: flex;
    align-items: center;
    padding: 0.4em;
    box-shadow:0 0 10px gold;
    text-shadow: 0 0 10px black;
    transition: all 0.2s;
    cursor: pointer;
}
.select .active{
     background-color: rgba(0, 0, 0, 0.5);
}
.select div:hover{
    background-color: rgba(0, 0, 0, 0.226);
   
}
.select_button{
    cursor: pointer;
}
.select div span{
    margin-left: 0.5em;
}
.close{
    cursor: pointer;
    transition: all 0.2s;
}
.close:hover{
   transform: rotateZ(-15deg) scale(1.2);
}