@mixin swap_top_bottom {
  border-radius: 12px;
  margin: 14px 0;
  border: 1px solid rgb(236, 239, 241);
  background: rgb(249, 249, 249);
  padding: 10px;
  label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
  }
  .operation {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;

    input {
      width: 100%;
      padding: 10px 5px 0 0;
      margin-right: 5px;
      font-size: 24px;
      font-family: inherit;
      background: transparent;
      color: rgba(0, 0, 0, 0.9);
      border: none;
      &:focus {
        outline: none;
      }

    }

    button {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      border: none;
      background-color: transparent;
      color: rgba(0, 0, 0, 0.9);
      white-space: nowrap;
      font-size: 1.2em;
      font-weight: bold;
      font-family: inherit;
    }
    .operation_image {
      display: flex;
      align-items: center;
      width: 25px;
      height: 25px;
      margin-right: 0.5em;
    }
    input[type="number"] {
      -moz-appearance: textfield;
      -webkit-appearance: textfield;
      appearance: textfield;
    }
     
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      display: none;
    }
  }
}
.swap,
.swapDark {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 1 1 0%;
  min-width: 380px;
  width: 100%;
  .inputRate{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding: 12px 17px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 15px;
    font-weight: 700;
    margin-top: 0px;
    border-top: 1px solid rgb(236, 239, 241);
    border-left: none;
    border-right: none;
    input{
      font-weight: 700;
    }
    input[type="range"]{
      
      appearance: none;
      margin: 10px 0px;
      height: 6px;
      width: 100%;
      border-radius: 12px;
      cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    background-color:white;
    border: solid 2px rgb(24, 198, 131);
}
  .inputProcent{
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.9);
    font-size: 17px;
    padding: 7px;
    width: 4em;
    text-align: center;
  }


  }
  .multitop{
    border-left: 1px solid rgb(236, 239, 241);
    flex-basis: 28%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding: 12px 17px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 15px;
    font-weight: 700;
    margin-top: 0px;
    border-top: 1px solid rgb(236, 239, 241);
    border-right: none;

    div{
      width: 100%;
      
      input{
        display: none;
        &:checked + label{
          background-color:rgb(24, 198, 131) !important;
        }
           &:checked + label span{
         animation:radio 0.25s ease-in;
          left:29px
        }
      }
      label{
        cursor: pointer;
        display: inline-block;
        border:1px solid rgba(0, 0, 0, 0.356);
        width:50px;
        height: 20px;
        border-radius:20px;
        transition: all 0.2s;
        background: rgb(205, 209, 212);
        span{
          display: inline-block;
          background-color:white;
          width:20px;
          height: 18px;
          border-radius:100%;
          position: relative;
          transition: all 0.2s;
        }
       
      }
   
    }
  }
  .connectWallet{
    button{
      width: 100% !important;
      font-size:  20px !important;
      padding: 20px 0 !important;
    }
  }
  .swap_container {
    width: 90%;
    max-width: 460px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 13px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 9px;
    overflow: hidden;
    .swap_header {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      padding: 20px 20px 0px;
      margin-bottom: 17px;
      color: rgba(0, 0, 0, 0.9);
      .image {
        cursor: pointer;
      }
    }

    .swap_content {
      padding: 0px 20px 20px;
      .swap_content_top {
        @include swap_top_bottom;
      }
      .swap_content_middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          display: flex;
          align-items: center;
          div:last-child {
            position: relative;
            margin-left: 0.5em;
            margin-top: -1em;
            font-size: 0.9em;
            width: 15px;
            height: 15px;
            text-align: center;
            font-weight: 900;
            color: white;
            border-radius: 100%;
            background-color: rgb(70, 67, 67);
            cursor: pointer;
            div {
              display: none;
              position: absolute;
              color: black;
              background-color: rgb(212, 205, 205);
              font-weight: 400;
              padding: 5px;
              box-shadow: 0 2px 10px black;
              top: -70px;
              left: -220px;
              width: 20em;
              height: auto;
              border-radius: 10px;
              animation: pop 0.2s linear;
            }
            &:hover div {
              display: block;
            }
          }
        }
      }
      .swap_content_bottom {
        @include swap_top_bottom;
      }
    }
  }
  .show_container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 9%) 0px 0px 30px -3px;
    z-index: 5;

    .header_show {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      padding: 20px 20px 0px;
      margin-bottom: 17px;
      color: rgba(0, 0, 0, 0.9);
      border: none !important;
      .show_image{
        cursor: pointer;
      }
      h3 {
        font-size: 1.4em;
      }
    }
    .search {
      margin: 0 20px;
      input {
        font-size: 1.2em;
        font-family: inherit;
        color: rgba(0, 0, 0, 0.9);
        background: rgb(236, 239, 241);
        width: 100%;
        border: none;
        border-radius: 12px;
        padding: 13px 10px;
      }
    }
    .searchCoins {
      height: 455px;
      width: 100%;
      margin-top: 10px;
      padding-bottom: 20px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px; /* ширина для вертикального скролла */
        height: 8px; /* высота для горизонтального скролла */
      }
      &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 9em;
        box-shadow: inset 1px 1px 10px #f3faf7;
      }
      .token_list {
        height: 60px;
        width: 100%;
        padding: 5px 20px;
        > div {
          display: flex;
          padding: 5px;
          height: 50px;
          -webkit-box-align: center;
          align-items: center;
          border-radius: 8px;
          div {
            margin-left: 1em;
            div:last-child {
              color: gray;
            }
          }
          cursor: pointer;
          transition: all 0.2s;
          &:hover {
            background-color: rgba(128, 128, 128, 0.178);
          }
        }
      }
    }
  }
}
.swapDark {
  .show_container{
    .inputRate,.multitop{
      color:rgba(255, 255, 255, 0.9) !important;
      input{
        color:rgba(255, 255, 255, 0.9) !important;
      }
    }
  }
  .swap_container {
    .swap_header {
      color: rgba(255, 255, 255, 0.9) !important;
    }
    .swap_content {
      .show_container {
        background-color: rgb(54, 54, 54) !important;
        box-shadow: rgb(0 0 0 / 9%) 0px 0px 30px -3px !important;

        .header_show {
          color: rgba(255, 255, 255, 0.9) !important;
        }
        .search {
          input {
            color: rgba(255, 255, 255, 0.9);
            background: rgb(37, 37, 37);
          }
        }
      }
    }
    .swap_content_top{
      border: 1px solid rgb(37, 37, 37) !important;
      background: rgb(49, 49, 49) !important;
      div{
        label{
          color:white !important
        }
      }
      .operation{
        input,button{
          color:gray !important
        }
        
      }
    }
  }
}
@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes radio{
  0%{
    left:0;
  }
  100%{
    left:29px;
  }
}